@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;500;600;700;800&family=IBM+Plex+Mono:wght@500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* { font-family: 'Vazirmatn', sans-serif; }
.mono { font-family: 'IBM Plex Mono', monospace; }
body { background: #0D1B2A; }
::-webkit-scrollbar { width: 8px; height: 8px; }
::-webkit-scrollbar-thumb { background: #24425E; border-radius: 8px; }
@media print {
  .no-print { display: none !important; }
  body { background: white; }
}
